mixin box-head(subtitle , title , link, check)
    .box-head
        .box-head__left     
            .box-head__sub-title #{subtitle}
            h2.box-head__title #{title}
        if(check == "yes")
            .box-head__right 
                a(href="#" class = "button button--outline")
                    | Xem thêm
                    i.fa-solid.fa-angle-right 