mixin product-item()
    .product-item
        .product-item__image
            a(href="#")
                img(alt="" src="assets/images/product-1.jpg")
        .product-item__content
            h3.product-item__title
                a(href="#") MO231 - Pomeranian Trắng 2
            .product-item__desc
                .product-item__desc-item
                    | Giống:
                    b Đực
                .product-item__dot
                .product-item__desc-item
                    | Tuổi:
                    b 02 tháng
            .product-item__price 6.900.000 VND                